# Java compiled classes
*.class
/src/test/
/out/

# Build folders
/target/
/build/


# IDE files
*.classpath
*.project
*.settings/
*.iml

# Logs
*.log

# Gradle
.gradle/
# Ignore everything in gradle/wrapper recursively
gradle/wrapper/**
# But keep the essential wrapper files
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

